<ion-content>
  <section>
    <ion-button expand="block" routerLink = "/location">Mowing</ion-button>
  </section>

  <!-- <section>
    <ion-button expand="block" routerLink = "/location">Location</ion-button>
  </section> -->

  <section>
    <ion-button expand="block" routerLink = "/instructions">Instructions</ion-button>
  </section>

  <section>
    <ion-button expand="block" routerLink = "/aboutUs">About us</ion-button>
  </section>

</ion-content>