:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}

header {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-bottom: 1.25em;
  text-transform: uppercase;
}

section {
  margin-top: 1em;
  margin-bottom: 2.5em;
}

section:not(.full-width),
    .full-width > header {
      padding: 0 10px;
    }