<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>About Us</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class = "para">
        Welcome to GrassBot!

        This app is made for the purpose of an Embedded Project of University of Sri Jayawardenepura
        Department of Computer Science.
        <br><br>
        This app gives you remote control of your Smart Grass cutter with when to start and stop.
        You need to turn on or off the grass cutter otherwise GrassBot will functioning automatically.
        With this app you can change your lawn boundaries that need to use the grass cutter.
    </div>
</ion-content>