<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Instructions for GrassBot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="para">
    1. Enter the Length and the Width of Lawn in the Location Tab.
    <br><br>
    2. Keep the GrassBot in the starting point.
    <br><br>
    3. Press the start button in mowing tab so the Grassbot can start.
    <br><br>
    4. When the work is done press Stop button as same.
  </div>
</ion-content>