<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mowing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button full class="submit-button" (click)="listPairedDevices()">
    <ion-icon name="refresh"></ion-icon>&nbsp;Refresh Bluetooth Devices
  </ion-button>

  <ion-row>
    <ion-col>
      <ion-list>
        <ion-radio-group [(ngModel)]="pairedDeviceID" *ngIf="listToggle">
          <ion-item *ngFor="let i of pairedList;let j=index">
            <ion-label>{{i.name}}</ion-label>
            <ion-radio slot="start" value="{{j}}"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-button full class="submit-button" *ngIf="listToggle" (click)="selectDevice()">
      <ion-icon name="bluetooth"></ion-icon>&nbsp;Connect Bluetooth Devices
    </ion-button>
  </ion-row>

  <ion-row>
    <ion-fab>
      <ion-fab-button full class="submit-button" (click)="sendData()">
        <ion-icon name="rocket-outline"></ion-icon>&nbsp;Start
      </ion-fab-button>
    </ion-fab>
  </ion-row>

</ion-content>