<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content Fullscreen >
  <div class="inputBoxes">
    <ion-item>
      <ion-label position="floating">Length of Lawn(meters)</ion-label>
      <ion-input type = "number" maxlength = 3 [(ngModel)]="lawn.lengthOfLawn"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Width of Lawn(meters)</ion-label>
      <ion-input type = "number" maxlength = 3 [(ngModel)] ="lawn.widthOfLawn"></ion-input>
    </ion-item>

    <div class="successButton">
      <ion-button color="success" (click)="openDetailsWithState()">Submit</ion-button>
    </div>
  </div>
</ion-content>