.inputBoxes{
    margin-top: 50px;

    ion-item {
    --background: none;
    color: white;
    opacity: 1;
    }

    ion-label {
        --color: rgb(66, 214, 20);
    }

    .successButton{
        margin: 25px;
        margin-left: 37%;
    }
}